*{
    margin: 0;

}
body {
	display: grid;
	grid-template-areas: "header header" "aside  main" "footer footer";
	grid-template-rows: 70px 2fr 50px;
	grid-template-columns: 250px 1fr;
	width: 100vw;
	height: 100vh;
}
/* menu button hamburger */
.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.menu-btn-burger{
    width: 60px;
    height: 6px;
    background-color: silver;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn-burger::before, 
.menu-btn-burger::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 6px;
    background-color: silver;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn-burger::before{
    transform: translateY(-16px);
}
.menu-btn-burger::after{
    transform: translateY(16px);
}
/* menu btn animation */
.menu-btn.open .menu-btn-burger{
    transform: translateX(-50px);
    background-color: transparent; 
}
.menu-btn.open .menu-btn-burger::before{
    transform: rotate(45deg) translate(35px,-35px) ;
}
.menu-btn.open .menu-btn-burger::after{
    transform: rotate(-45deg) translate(35px,35px) ;
}
/* Layout */
#header {
	grid-area: header;
	display: flex;
    background-color: #121420;
    color: #64B6AC;
	align-items: center;
	gap: 80px;
}
/* Aside Section */
#aside {
	grid-area: aside;
	background-color: yellow;
	display: flex;
	flex-direction: column;
	gap: 50px;
	padding: 20px 10px 10px 15px;
    overflow: auto;
}
.project-categories {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.project-categories > a{
    text-decoration: none;
    color: inherit;
}
.project-categories > a:hover{
    color: lavender;
}
.divider {
	height: 2px;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color:black;
}
.project-container{
    display: flex;
    flex-direction: column;
    gap: 20px;

    
}
.project-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-item > p:hover{
    color: silver;
    cursor: pointer;
}
.project-item > img {
	width: 25px;
    filter: invert(80%) sepia(3%) saturate(1235%) hue-rotate(22deg) brightness(20%) contrast(74%);
}
.project-item > img:hover {
    filter: invert(33%) sepia(70%) saturate(4784%) hue-rotate(336deg) brightness(90%) contrast(108%);
    cursor: pointer;
    transform: scale(1.01);
    transition: all .3s ease;
    
}
#add-project-container{
    display: flex;
    justify-content: end;
    align-content: center;
    margin-top: 25px;
    font-size: 12px;
    cursor: pointer;
}

#add-project-container:hover #plus-icon{
transform: rotate(180deg) scale(1.2);
transition: all 0.6s ease;
color: red;
}
#main{
    grid-area: main;
    background-color: thistle;
}
#footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.5px;
    width: 97%;
    padding: 10px;
    font-size: 20px;
    margin-top: auto;
    background-color:wheat;
}
.github-logo{
    width: 20px;
    height:20px;
    transition: all 300ms linear;
    border-radius: 50%;
    box-shadow: 0px 0px 5px purple;
    cursor: pointer;
    filter: invert(73%) sepia(81%) saturate(870%) hue-rotate(357deg) brightness(95%) contrast(93%);}
.github-logo:hover{
        transform: rotate(360deg) scale(1.3);
        box-shadow: 0px 0px 5px blue;
}