
*{
    margin: 0;
}

body {
	display: grid;
	grid-template-areas: "header header" "aside  main" "footer footer";
	grid-template-rows: 70px 2fr 50px;
	grid-template-columns: 250px 1fr;
	width: 100vw;
	height: 100vh;
    background-color: #F6EFEE;
}
/* menu button hamburger */
.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    display: none;
}
.menu-btn-burger{
    width: 50px;
    height: 6px;
    background-color: silver;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn-burger::before, 
.menu-btn-burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: silver;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn-burger::before{
    transform: translateY(-16px);
}
.menu-btn-burger::after{
    transform: translateY(16px);
}
/* menu btn animation */
.menu-btn.open .menu-btn-burger{
    transform: translateX(-50px);
    background-color: transparent; 
}
.menu-btn.open .menu-btn-burger::before{
    transform: rotate(45deg) translate(35px,-35px) ;
}
.menu-btn.open .menu-btn-burger::after{
    transform: rotate(-45deg) translate(35px,35px) ;
}
/* Layout */
#header {
	grid-area: header;
	display: flex;
    background-color: black;
    color: silver;
	align-items: center;
	gap: 10px;
    z-index: 2;
}
#header > p{
    margin-left:60px ;
}
/* Aside Section */
#aside {
	grid-area: aside;
	background-color: black;
    color: silver;
	display: flex;
	flex-direction: column;
	gap: 50px;
	padding: 20px 10px 10px 15px;
    overflow: auto;
}
.divider {
	height: 2px;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color:black;
}
.project-container{
    display: flex;
    flex-direction: column;
    gap: 20px;

    
}
.project-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-item.active{
    color: red;
}
.project-item:hover{
    color: #c75146;;
    cursor: pointer;
}
.project-item > img {
	width: 25px;
    filter: invert(80%) sepia(3%) saturate(1235%) hue-rotate(22deg) brightness(20%) contrast(74%);
}
.project-item > img:hover {
    filter: invert(33%) sepia(70%) saturate(4784%) hue-rotate(336deg) brightness(90%) contrast(108%);
    cursor: pointer;
    transform: scale(1.2);
    transition: all .1s ease;
    
}
#add-project-modal{
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: 2px solid;
    padding: 5px;
    margin-top: 10px;
}
#add-project-modal.hide{
    display: none;
}
#add-project-button-container{
    display: flex;
    justify-content: space-evenly;
}
.add-project-submit-button{
    color: #eff1ed;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #00cd00;
    border: 2px solid #00cd00;
}
.add-project-cancel-button{
    font-family: sf-bold;
    color: #eff1ed;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #ff2d4a;
    border: 2px solid #ff2d4a;
}
.add-project-submit-button:hover,
.add-project-cancel-button:hover{
    border: 2px solid black;
}
.add-project-submit-button:active,
.add-project-cancel-button:active{
    transform: scale(1.01);
}
.add-project-container{
    display: flex;
    justify-content: end;
    align-content: center;
    margin-top: 25px;
    font-size: 12px;
    
}
.add-project-container.hide{
    display: none;
    
}
.add-project-button{
    display: flex;
    cursor: pointer;
}
.add-project-button:hover #plus-icon{
transform: rotate(180deg) scale(1.5);
transition: all 0.6s ease;
color: red;
}
#main{
    grid-area: main;
    background-color: #F6EFEE;
    padding: 10px 30px 20px 30px;
    display: flex;
    flex-direction: column;
}

.project-info-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.project-info-container.hide{
    display: none;
}
#project-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#project-edit-icon{
    width: 25px;
    cursor: pointer;
}
#project-edit-icon:hover {
    filter: invert(66%) sepia(91%) saturate(5686%) hue-rotate(75deg) brightness(101%) contrast(101%);
    cursor: pointer;
    transform: scale(1.2);
    transition: all .1s ease;
    
}
.edit-project-info-container{
    display: flex;
    flex-direction: column;
    gap: 3px;
    
}
.edit-project-info-container.hide{
    display: none;
}
#edit-project-name-input,
#edit-project-description-input{
    font-size: 30px;
}
#edit-project-submit-button{
    font-size: 20px;
    font-family: sf-bold;
    color: #eff1ed;
    padding: 5px;
    border-radius: 3px;
    margin-top: 4px;
    cursor: pointer;
    background-color: #00cd00;
    border: 2px solid #00cd00;
}
#edit-project-cancel-button{
    font-size: 20px;
    font-family: sf-bold;
    color: #eff1ed;
    padding: 5px;
    border-radius: 3px;
    margin-top: 4px;
    cursor: pointer;
    background-color: #ff2d4a;
    border: 2px solid #ff2d4a;
}
#edit-project-submit-button:hover,
#edit-project-cancel-button:hover{
    border: 2px solid black;
}
.tasks-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    padding: 5px;
    border-radius: 0.3em;
}
.task.checked{
    color:#b7b7a4
}
.task.checked:hover{
    box-shadow: -1px 1px 0px 0px #b7b7a4;
    transform: translate(3px,-3px);
}
.task:hover{
    box-shadow: -1px 1px 0px 0px black;
    transform: translate(3px,-3px);
  }
.left-task{
    display: flex;
    gap: 10px;
    align-items: center;
}
.right-task{
    display: flex;
    align-items: center;
    gap: 10px;
}
.task-edit-icon,
.task-delete-icon{
    width: 25px;
}
.task-edit-icon.checked,
.task-delete-icon.checked{
    filter: invert(91%) sepia(3%) saturate(1226%) hue-rotate(22deg) brightness(85%) contrast(77%);
}
.task-edit-icon:hover{
    transform: scale(1.2);
    filter: invert(66%) sepia(91%) saturate(5686%) hue-rotate(75deg) brightness(101%) contrast(101%);
}
.task-delete-icon:hover{
    transform: scale(1.2);
    filter: invert(33%) sepia(70%) saturate(4784%) hue-rotate(336deg) brightness(90%) contrast(108%);
}
.left-task-edit{
    display: flex;
    width: 50%;
}
.left-task-edit > input{
    width: 100%;
}
.right-task-edit{
    display: flex;
    align-items: center;
    gap: 10px;
}
.edit-task-button-container{
    display: flex;
    align-items: center;
    gap: 5px;
}
.edit-task-submit-button{
    font-family: sf-bold;
    color: #eff1ed;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #00cd00;
    border: 2px solid #00cd00;
}
.edit-task-cancel-button{
    font-family: sf-bold;
    color: #eff1ed;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #ff2d4a;
    border: 2px solid #ff2d4a;
}
.edit-task-submit-button:hover,
.edit-task-cancel-button:hover{
    border: 2px solid black;
}
.edit-task-submit-button:active,
.edit-task-cancel-button:active{
    transform: scale(1.01);
}
.left-task.hide,
.left-task-edit.hide,
.right-task.hide,
.right-task-edit.hide{
    display: none;
}
.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
	min-width: 20px;
	min-height: 20px;
	border-radius: 50%;
	border: 1px solid rgba(169, 167, 167, 0.4);
	cursor: pointer;
    transition: all .5s ease;
}
.checkbox.checked{
    background-color: #7af76e;
    transition: all .5s ease;
}
.checkbox > img {
	width: 15px;
	height: 15px;
    opacity: 0;
}

.checkbox.checked > img{
transition: all .3s ease-in-out;
opacity: 1;

}
.checkbox > img.checked {
    opacity: 1;
    transition: all 3s ease-in-out;
}
.add-task-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    padding: 5px;
    border-radius: 0.3em;
}
.add-task-modal.hide{
    display: none;
}
.add-task-left{
    display: flex;
    width: 50%;
}
.add-task-left > input{
    width: 100%;
}
.add-task-right{
    display: flex;
    align-items: center;
    gap: 10px;
}
.add-task-button-container{
    display: flex;
    align-items: center;
    gap: 5px;
}
.add-task-submit-button{
    font-family: sf-bold;
    color: #eff1ed;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #00cd00;
    border: 2px solid #00cd00;
}
.add-task-cancel-button{
    font-family: sf-bold;
    color: #eff1ed;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #ff2d4a;
    border: 2px solid #ff2d4a;
}
.add-task-submit-button:hover,
.add-task-cancel-button:hover{
    border: 2px solid black;
}
.add-task-submit-button:active,
.add-task-cancel-button:active{
    transform: scale(1.01);
}

.add-task-container{
    display: flex;
    justify-content: end;
    align-content: center;
    margin-top: 25px;
    font-size: 12px; 
}
.add-task-container.hide{
    display: none;
}
.add-task-button{
    display: flex;
    cursor: pointer;
}
.add-task-button:hover #plus-icon{
    transform: rotate(180deg) scale(1.5);
    transition: all 0.6s ease;
    color: red;
}
    
#footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.5px;
    width: 97%;
    padding: 10px;
    font-size: 20px;
    margin-top: auto;
}
.github-logo{
    width: 20px;
    height:20px;
    transition: all 300ms linear;
    border-radius: 50%;
    box-shadow: 0px 0px 5px purple;
    cursor: pointer;
    filter: invert(73%) sepia(81%) saturate(870%) hue-rotate(357deg) brightness(95%) contrast(93%);}
.github-logo:hover{
        transform: rotate(360deg) scale(1.3);
        box-shadow: 0px 0px 5px blue;
}
#overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(213, 209, 209,0.7);
    z-index: 1;
    display: none;
}

/* Media Queries */
@media (max-width: 975px) {
    body{
        display: grid;
        grid-template-areas: "header" "main" "footer";
        grid-template-rows: 70px 2fr 50px;
        grid-template-columns: 1fr;
        position: relative;
    }
    .menu-btn{
        display: flex;
    }
    #aside{
        position: absolute;
        top: 70px;
        min-width: 300px;
        height:calc(86vh - 58px);
        transform: translateX(-100%);
        transition: all .6s ease;

    }
    #aside.show{
        transform: translateX(0);
        z-index: 2;
    }
    #overlay.show{
        display: block;
        
    }
    
}
@media (max-width: 425px) {
    .tasks-container {
        gap: 25px;
    }
}